.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.main_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.event_main_container {
    text-align: center;
    display: flex;
    width: 100%
}

.content {
    flex: 1;
    margin-left: 10%;
}

.field {
    padding-bottom: 5px;
    font-family: "Yu Gothic Light", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.custom-dropdown {
    font-family: "Yu Gothic Light", sans-serif;
    font-size: 12px;
}

footer {
    margin-top: auto;
}

.footer_container {
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

.no-extra-space {
    margin: 0; !important;
    padding: 0;!important;
    border: 0; !important;
}

.main {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

#table {
    border-collapse: collapse;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    max-width: 50%;
}

#table td {
    border: 1px solid black;
    padding: 4px;
    font-size: 12px;
}

#table td:nth-child(1) {
    width: 30px;
    background-color: #f3f3ff;
}

.calendar td:nth-child(2) {
    width: 90%;
    background-color: #fbfbff;
}

.event {
    background-color: #efaaaa !important;
    text-align: center !important;
}

.button {
    margin-left: 10%;
    margin-right: 30%;
}

.button-container {
    display: flex;
    padding-right: 5%;
    justify-content: center;
}

.header {
    border: 0;
    margin: 0;
    padding: 10px;
    background-color: lightblue;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Yu Gothic Light", sans-serif;

}

.header nav {
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 40px;
    padding-top: 5px;
    color: black;
    text-decoration: none;
}


.multi-button-container {
    display: flex;
    padding-left: 5%;
    justify-content: center;
}

#task {
    border: 0;
    padding: 0;
    margin: 0;
}

#task td:nth-child(1) {
    width: 50%;
}

#task td:nth-child(2) {
    width: 50%;
}

.nav {
    font-size: 20px;
    margin-top: 12px;
    padding-left: 35px;
}

.logo {
    padding-top: 20px;
}

.nav-link {
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    transition: color 0.3s ease;
}

.nav-link:visited {
    color: black;
}

.nav-link:hover {
    color: #454545;
    transition: color 0.3s ease;
}

.nav-link.active {
    color: #252525;
}

.username {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.task-table {
    text-align: center;
    vertical-align: middle
}

.text-task-explain {
    margin: 20px 10px 10px 10px
}

.login-main {
    text-align: center
}

.landing-container {
    flex: 1;
}

.landing-button {
    font-size: 30px;
}

.quote-box {
    border: 1px solid black;
    padding: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.quote {
    padding-top: 30px; border-color: black;
}

.calendar-table {
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.websocket-box {
    padding: 25% 120px 35% 120px;
    border: 1px solid black;
    margin: 20px 20px
}

.event-full-width-container {
    width:200px
}

.event-half-width-container {
    width:93px
}

.calendar-main-container {
    flex: 1;
}

.calendar-button {
    font-size: 20px;
}

.left-box {
    padding-top: 40px;
    /*flex: 0 0 auto; !* Don't grow or shrink, stay at base size *!*/
    /*margin-right: 10%;*/
    /*!*width: 30%;*!*/
    /*margin-left: 10%;*/
    flex: 1;
    justify-content: center;
}

.login-button {
    margin: 3px;
}